In [1]:
d = {'gracias': '001', 'thank you': '002'}

In [2]:
d

{'gracias': '001', 'thank you': '002'}

In [3]:
d2 = {'greetings':{'Thanking': {'gracias': '001', 'thank you':'002'}, 'Respect':{'sir': '003', 'senor':'004'}}}

In [4]:
d2

{'greetings': {'Thanking': {'gracias': '001', 'thank you': '002'},
  'Respect': {'sir': '003', 'senor': '004'}}}

# Accessing values

In [5]:
d['gracias']

'001'

In [6]:
d.keys()

dict_keys(['gracias', 'thank you'])

In [7]:
d.values()

dict_values(['001', '002'])

In [8]:
d.get('thank you')

'002'

In [9]:
for x, y in d2.items():
    print(x, y)

greetings {'Thanking': {'gracias': '001', 'thank you': '002'}, 'Respect': {'sir': '003', 'senor': '004'}}

In [10]:
d2['greetings']

{'Thanking': {'gracias': '001', 'thank you': '002'},
 'Respect': {'sir': '003', 'senor': '004'}}

# Updating

In [12]:
d['gracias'] = '004'

In [13]:
d['arigatto'] = '003'

In [14]:
d

{'gracias': '004', 'thank you': '002', 'arigatto': '003'}

# Deleting

In [16]:
d.pop('thank you')

'002'

In [17]:
d

{'gracias': '004', 'arigatto': '003'}

# Dict to Df

In [19]:
import pandas as pd
df = pd.DataFrame(d2)

In [20]:
df

                                       greetings
Respect           {'sir': '003', 'senor': '004'}
Thanking  {'gracias': '001', 'thank you': '002'}